/* Geral */
.home_header {
    width: 100%;
    padding: 10px 0;
    background-color: #fff;
    border-bottom: 2px solid #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
}

/* Logo */
.logo_image {
    padding: 0 20px;
    height: 50px;
}

/* Navegação */
.navigation {
    display: flex;
    gap: 15px;
    position: absolute;
    justify-content: center;
    width: 100%;
    transition: transform 0.3s ease;
}

.navigation a {
    text-decoration: none;
    font-weight: bold;
    color: #333;
}

.navigation a.active {
    color: #f57c00;
}

.navigation a:hover {
    color: #f57c00;
}

/* Botão "Hambúrguer" */
.hamburger {
    color: #f57c00;
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

/* Botão de alerta */
.alert_button {
    background-color: #f57c00;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: 600;
    cursor: pointer;
}

.alert_button:hover {
    background-color: #e76a00;
}

/* Responsividade */
@media (max-width: 840px) {
    .navigation {
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #fff;
        transform: translateY(-200%);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        padding: 10px;
        z-index: 1000;
    }

    .navigation.open {
        transform: translateY(0);
    }

    .hamburger {
        display: block;
        position: relative;
        z-index: 1001;
        padding-right: 30px;
    }

    .nav_actions {
        display: none;
    }
}